@import "tailwindcss";

:root {
    --cor-sidebar: #013d29; 
    --cor-primary: #009051;
    --cor-primary-hover: #007a45;
    --cor-fundo: #f0f2f5;
    --cor-branco: #ffffff;
    --cor-texto: #333333;
    --cor-texto-suave: #666666;

    --cor-info: #00aaff;
    --cor-danger: #dc3545; 
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
}

button {
    cursor: pointer;
    transition: background 0.2s;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}